:root {
/* Primary Colors*/

--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);

/* Neutral */

--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);


/* Typography */

--paragraph-Font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--Cream);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    background: var(--White);
    border-radius: 12px;
    width: 724px;
    height: 544px;
    min-height: 544px;
    overflow: hidden;
}

.image {
    width: 362px;
    height: 100%;
}

.card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 30px 40px 30px;
}

.product-type {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--Grey);
}

.product-name {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--Black);
}

.product-details {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1rem;
    color: var(--Grey);
    line-height: 1.8rem;
}

.product-fee {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.new-price{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--Green-500);
}

.old-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    text-decoration: line-through;
    color: var(--Grey);
}

.cart-btn {
    width: 100%;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.btn {
    width: 100%;
    height: 45px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--Green-500);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background: var(--Green-700);
    cursor: pointer;
}

.btn-icon {
    width: 15px;
    height: 15px;
}

.btn-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--White);
}


@media (max-width: 425px) { 

    .card {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }

    .card-image {
    width: 50%;
    height: 40%;
    }

    .card-content {
    padding: 1.8rem;
    }

    .product-type {
        padding-bottom: 0.5rem;
        letter-spacing: 0.22rem;
    }

    .product-name {
        font-size: 0.8rem;
        line-height: 2rem;
        padding-bottom: 1rem;
    }

    .product-details {
        font-size: 0.6rem;
        line-height: 1.4rem;
        padding-bottom: 1rem;
    }

    .product-fee {
        padding-bottom: 1.2rem;
    }

    .new-price {
        font-size: 0.8rem;
    }

    .old-price {
        font-size: 0.9rem;
    }

}

@media (max-width: 375px) { 

    .card {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }

    .card-image {
    width: 50%;
    height: 40%;
    }

    .card-content {
    padding: 1.8rem;
    }

    .product-name {
        font-size: 1rem;
    }

    .product-details {
        font-size: 0.72rem;
        line-height: 1.3rem;
        padding-bottom: 1rem;
    }

    .product-fee {
        padding-bottom: 1.2rem;
    }

    .new-price {
        font-size: 0.8rem;
    }

    .old-price {
        font-size: 0.9rem;
    }

}

@media (max-width: 320px) { 

    .card {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }

    .card-image {
    width: 50%;
    height: 40%;
    }

    .card-content {
    padding: 1.8rem;
    }

    .product-type {
        padding-bottom: 0.5rem;
        letter-spacing: 0.22rem;
    }

    .product-name {
        font-size: 0.8rem;
        line-height: 2rem;
        padding-bottom: 1rem;
    }

    .product-details {
        font-size: 0.6rem;
        line-height: 1.4rem;
        padding-bottom: 1rem;
    }

    .product-fee {
        padding-bottom: 1.2rem;
    }

    .new-price {
        font-size: 0.8rem;
    }

    .old-price {
        font-size: 0.9rem;
    }

}