:root {
/* Primary Colors*/

--Green-500: hsl(158, 36%, 37%);
--Green-700: hsl(158, 42%, 18%);

/* Neutral */

--Black: hsl(212, 21%, 14%);
--Grey: hsl(228, 12%, 48%);
--Cream: hsl(30, 38%, 92%);
--White: hsl(0, 0%, 100%);


/* Typography */

--paragraph-Font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--Cream);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: row;
    background: var(--White);
    border-radius: 12px;
    width: 724px;
    height: 544px;
    overflow: hidden;
}

.image {
    width: 20vw;
    height: 100%;
}

.card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 24px;
}

.product-type {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--Grey);
}

.product-name {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--Black);
}

.product-details {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: var(--Grey);
}

.product-fee {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.new-price{
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--Green-500);
}

.old-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 14px;
    text-decoration: line-through;
    color: var(--Grey);
}

.cart-btn {
    width: 100%;
    display: flex;
    font-family: "Montserrat", sans-serif;
}

.btn {
    width: 100%;
    height: 50px;
    padding: 10px;
    outline: none;
    border: none;
    background: var(--Green-500);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-name {
    color: var(--White);
    font-size: 14px;
}




svg {
    width: 5px;
    height: 5px;
    background: var(--White);
    color: var(--Green-500);
}